@model IEnumerable<ProyectoControlDeParqueos.Models.Parqueo>

@{
    // ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="my-3">Parqueos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Crear Nuevo Parqueo</a>
</p>

<table class="table table-striped table-hover" id="tablajs">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.nombreParqueo)</th>
            <th>@Html.DisplayNameFor(model => model.ubicacion)</th>
            <th>@Html.DisplayNameFor(model => model.capacidadTotal)</th>
            <th>@Html.DisplayNameFor(model => model.espaciosDisponibles)</th>
            <th>@Html.DisplayNameFor(model => model.estado)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.nombreParqueo)</td>
                <td>@Html.DisplayFor(modelItem => item.ubicacion)</td>
                <td>@Html.DisplayFor(modelItem => item.capacidadTotal)</td>
                <td>@Html.DisplayFor(modelItem => item.espaciosDisponibles)</td>
                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                <td>
                    <div class="btn-group" role="group">
                        <a asp-action="Edit" asp-route-id="@item.idParqueo" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.idParqueo" class="btn btn-info btn-sm">Detalles</a>
                        <a asp-action="Delete" asp-route-id="@item.idParqueo" class="btn btn-danger btn-sm">Eliminar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
