@model ProyectoControlDeParqueos.Models.Tarifa

@{
    // ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles Tarifa</h1>

<div>
@*     <h4>Tarifa</h4> *@
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.descripcion)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.costoPorHora)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.costoPorHora)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.costoPorDia)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.costoPorDia)
        </dd>
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.estado)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.estado)
        </dd>
    </dl>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.idTarifa" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Regresar</a>
</div>
