@model IEnumerable<ProyectoControlDeParqueos.Models.Tarifa>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tarifas</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Tarifas</a>
</p>
<table class="table table-striped" id="tablajs">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.costoPorHora)</th>
            <th>@Html.DisplayNameFor(model => model.costoPorDia)</th>
            <th>@Html.DisplayNameFor(model => model.estado)</th>
            <th class="text-center">Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.descripcion)</td>
                <td>@item.costoPorHora.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</td>
                <td>@item.costoPorDia.ToString("F2", System.Globalization.CultureInfo.InvariantCulture)</td>
                <td>@Html.DisplayFor(modelItem => item.estado)</td>
                <td class="text-center">
                    <a asp-action="Edit" asp-route-id="@item.idTarifa" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.idTarifa" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.idTarifa" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
