@model IEnumerable<ProyectoControlDeParqueos.Models.Usuario>

@{
    ViewData["Title"] = "Registro de Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registro de Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Usuario</a>
</p>

<table class="table table-striped table-hover" id="tablajs">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayName("Contraseña")  <!-- Titulo de la columna -->
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td>
                    <!-- Mostrar la contraseña como puntitos -->
                    @Html.DisplayFor(modelItem => item.password, new { htmlAttributes = new { @value = "••••••" } })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fechaCreacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.estado)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="Edit" asp-route-id="@item.idUsuario" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.idUsuario" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.idUsuario" class="btn btn-danger btn-sm">Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
